@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

html, body, ul, li, h1, h2, h3, h4, h5, h6, img, p, label {
    font-family: "Noto Sans", sans-serif, Arial, Helvetica;
    margin: 0;
    padding: 0
    }

ul, li {
    list-style: none
    }

.container {
    width: 1045px;
    margin: 0 auto
    }

.clearfix:before, .clearfix:after {
    content: "";
    display: table
    }

.clearfix:after {
    clear: both
    }

.clearfix {
    zoom: 1
    }

/*
 *************************
 * =logo
 *************************
*/
#logo {
    width: 100%;
    height: 264px;
    background: url(../images/logo-bg.jpg) repeat
    }

.logo {
    width: 761px;
    height: 184px;
    margin: 10px 142px 0
    }

/*
 *************************
 * =site-content
 *************************
*/
#site-content {
    background: url(../images/sitecontent-bg.jpg) repeat
    }

#site-content > .container {
    width: 1025px;
    padding: 10px;
    background-color: #fff;
    position: relative;
    top: -50px
    }

/*
 *************************
 * =header
 *************************
*/
header {
    width: 1025px;
    background: url(../images/header-bg.jpg) repeat
    }

header .yellow {
    position: absolute;
    left: -12px;
    top: -11px
    }

header .dvd-picture {
    position: absolute;
    left: 35px;
    top: 35px
    }

header .dvd-details {
    width: 500px;
    height: 484px;
    float: right
    }

.dvd-details h2 {
    font-family: "Myriad Pro Semibold";
    font-size: 54px;
    line-height: 1;
    color: #b10e2d;
    margin-top: 5px;
    }

.dvd-details h2 sub {
    font-size: 13px;
    position: relative;
    bottom: 10px
    }

.dvd-details p {
    font-family: "Myriad Pro Condensed Italic";
    color: #333;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px
    }

.get-access {
    padding-left: 70px
    }

.get-access li {
    font-family: "Myriad Pro Semibold";
    font-size: 30px;
    list-style: url(../images/listStyle.png)
    }

.get-access li:last-of-type {
    list-style: none
    }

.get-access li a img {
    padding-top: 10px
    }

/*
 *************************
 * =main content
 *************************
*/
.main-content {
    clear: both
    }

/*
 *************************
 * =primary content
 *************************
*/
.primary-content h1 {
    text-align: center;
    margin-top: 35px;
    padding-bottom: 10px
    }

.primary-content > div img {
    width: 124px;
    height: 136px;
    margin-top: 50px;
    float: left
    }

.primary-content > div p {
    font-family: "Myriad Pro Regular";
    font-size: 44px;
    line-height: 1;
    float: right;
    width: 837px
    }

.primary-content > div {
    margin-bottom: 40px
    }

.first-text {
    background: url(../images/one-text.jpg) no-repeat;
    padding: 35px 30px;
    color: #fff;
    text-shadow: 4px 3px 5px #000;
    position: relative;
    top: 30px;
    right: -10px
    }

.second-text {
    background: url(../images/two-text.jpg) repeat;
    padding: 15px 30px;
    color: #000;
    text-shadow: 2px 2px 7px #E8F26F;
    position: relative;
    top: 30px;
    right: -10px
    }

.third-text {
    background: url(../images/three-text.jpg) no-repeat;
    padding: 35px 30px;
    color: #fff;
    text-shadow: 4px 3px 6px #000;
    position: relative;
    top: 30px;
    right: -10px
    }

/*
 *************************
 * =secondary content
 *************************
*/
.secondary-content {
    padding-top: 25px
    }

.about-author {
    float: left;
    width: 760px;
    height: 144px;
    padding: 35px;
    background: url(../images/textContainer.jpg);
    margin-right: 5px
    }

p.about-author {
    font-family: "mv_boliregular";
    font-size: 30px;
    line-height: 1
    }

.author-image {
    float: left;
    width: 179px;
    height: 218px;
    margin-bottom: 20px;
    -moz-box-shadow: 0 0 8px 0.3px #000;
    -webkit-box-shadow: 0 0 8px 0.3px #000;
    box-shadow: 0 0 8px 0.3px #000
    }

/*
 *************************
 * =instant access
 *************************
*/
.instant-access {
    width: 418px;
    height: 238px;
    margin: 30px auto;
    padding: 15px 15px 5px;
    -moz-box-shadow: 0 0 5px 1px #000;
    -webkit-box-shadow: 0 0 5px 1px #000;
    box-shadow: 0 0 5px 1px #000;
    background: url(../images/card-bg.jpg);
    position: relative
    }

.instant-button {
    margin-left: 5px
    }

.instant-access span {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 1;
    color: #1495d9;
    margin: 0 28.5px
    }

.cradit-card {
    margin: 10px 79px 0
    }

.security-logo {
    margin: 5px 15.5px 0
    }

.instant-access p {
    font-family: "Myriad Pro Regular";
    font-size: 14px;
    line-height: 1;
    color: #282828;
    text-align: center
    }

.card-bg-shadow {
    position: absolute;
    bottom: -21px;
    left: 23.5px
    }

/*
 *************************
 * =guarantee card
 *************************
*/
.guarantee-card {
    width: 652px;
    height: 334px;
    padding: 70px;
    margin: 0 auto;
    background: url(../images/guaranteeCard-bg.png);
    position: relative
    }

.guarantee-card img {
    position: absolute;
    top: 58px;
    left: 70px
    }

.guarantee-card h1 {
    float: right;
    width: 416px;
    font-family: "Myriad Pro Semibold";
    font-size: 60px;
    line-height: 48px;
    color: #040404;
    text-align: center
    }

.guarantee-card p {
    clear: both;
    font-family: "Myriad Pro Condensed";
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
    color: #3b3b3b;
    padding: 15px
    }

/*
 *************************
 * =Banner
 *************************
*/
.banner {
    width: 1045px;
    height: 383px;
    margin-top: 15px;
    position: relative
    }

.banner .main-image {
    position: relative;
    left: -10px
    }

.banner .sub-image {
    font-family: "ar_darlingregular";
    font-weight: normal;
    font-size: 50px;
    color: #fefefc;
    -moz-transform: rotate(-39deg);
    -ms-transform: rotate(-39deg);
    -o-transform: rotate(-39deg);
    -webkit-transform: rotate(-39deg);
    transform: rotate(-39deg);
    position: absolute;
    left: -30px;
    top: 22px
    }

/*
 *************************
 * =footer
 *************************
*/
.footer-logo {
    width: 282px;
    height: 76px;
    margin: 0 auto 50px
    }